html, body
{
  background: #000;
  margin: 0;
  padding: 0;
}

canvas
{
  display: block;
}

canvas:focus
{
  outline: none;
}

.game-wrapper
{
  color: #FFF;
  margin: 0 auto;
  margin-top: 40px;
  width: 400px;
}

#game-message
{
  font-family: monospace;
  font-size: 1.1em;
  padding: 0.5em;
}
